{% extends 'base.html' %} {% block content %}


<div>
    <div class="form_parent">
        <div>
            <hgroup >
                <h1 class="main_color fw-bolder">Welcome to our Store</h1>
        
            </hgroup>
        </div>
        <div>
            <form method="POST" action="{{ url_for('main.login') }}" id="login_Register_page"
            onsubmit="return validateLoginForm()" class="form_color">
            <div class="group ">
                <input type="text" id="email" name="email" class="login_input"><span class="highlight"></span><span
                    class="bar"></span>
                <label for="email" class="login_label">Email</label>
            </div>
            <div class="group">
                <input type="password" name="password" id="password" class="login_input" /> <span class="highlight"></span><span
                class="bar"></span>
                <label for="password" class="login_label">Password</label>
    
            </div>
            <button type="submit" class="button buttonRed my-3">Login</button>
            <div id="error-message" class=""></div>
            <div>
                <p class="text_color">Dont have an account? <a href="/register" class="text-decoration-none main_color">Register Now!</a></p>
                
            </div>
        </form>
  
        </div>
        <div>
            <footer><a href="" target="_blank"><img src="{{url_for('static', filename="images/logo.png")}}"></a>
                <p>You Gotta Love <a href="/" class="main_color" target="_blank">Laptop Store</a></p>
            </footer>
        </div>
    </div>
</div>
<script>
        document.querySelectorAll('.login_input').forEach(input => {
        input.addEventListener('blur', function() {
            if (this.value.trim() !== "") {
                this.classList.add('used');
            } else {
                this.classList.remove('used');
            }
        });
    });

</script>
{% if session.get('isAdmin')==0 %}
<script>
    const userEmail = localStorage.getItem('email');
    if (userEmail) {
        window.location.href = "/";
    }
</script>
{% elif session.get('isAdmin')==1 %}
<script>
    const adminEmail = localStorage.getItem('email');
    if (adminEmail) {
        window.location.href = "/dashbaord";
    }   
</script>

{% endif %}
</div>
{% endblock %}