{% extends 'base.html' %} {% block content %}

            
            <div class="login_Register_page">
                <hgroup>
                    <h1 class="main_color fw-bolder">Register to be one of our family</h1>
        
                  </hgroup>
            <form method="POST" action="{{ url_for('main.register') }}" id="login_Register_page" enctype="multipart/form-data" onsubmit="return validateRegisterForm()">
                <div class="group">
                    <input type="text" id="name" name="name" class="login_input"><span class="highlight"></span><span class="bar"></span>
                    <label for="name" class="login_label">Name</label>
                    <div id="name-error" class="text-danger"></div>

                  </div>
                  <div class="group">
                    <input type="text" id="phone" name="phone" class="login_input"><span class="highlight"></span><span class="bar"></span>
                    <label for="phone" class="login_label">Phone Number</label>
                    <div id="phone-error" class="text-danger"></div>
                  </div>
                  <div class="group">
                    <input type="text" id="username" name="username" class="login_input"><span class="highlight"></span><span class="bar"></span>
                    <label for="username" class="login_label">Username</label>
                    <div id="username-error" class="text-danger"></div>
                  </div>
                <div class="group">
                      <input type="text" id="email" name="email" class="login_input"><span class="highlight"></span><span class="bar"></span>
                      <label for="email" class="login_label">Email</label>
                      <div id="email-error" class="text-danger"></div>

                    </div>
                    <div class="group">
                      <input  type="password" name="password" id="password" class="login_input ><span class="highlight"></span><span class="bar"></span>
                      <label for="password" class="login_label">Passowrd</label>
                      <div id="password-error" class="text-danger"></div>
                    </div>
                    <div class="group">
                        <input  type="password" name="confirm_password" id="confirm_password" class="login_input ><span class="highlight"></span><span class="bar"></span>
                        <label for="confirm_password" class="login_label">Confirm Passowrd</label>
                        <div id="confirm_password-error" class="text-danger"></div>
                      </div>
                      <div class="form-group mt-3">
                        <label for="image" style="color: #999;">Profile Picture</label>
                        <input type="file" name="image" class="form-control" id="image" />
                    </div>
                    <button type="submit" class="btn btn-danger w-100 my-3">Register</button>
                    <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                    <div>
                      <p class="text_color">Already have an account? <a href="/login" class="text-decoration-none main_color">Login</a></p>
                  </div>
                  </form>
    
                  <footer><a href="" target="_blank"><img src="{{url_for('static', filename="images/logo.png")}}"></a>
                    <p>You Gotta Love <a href="/" class="main_color" target="_blank">Laptop Store</a></p>
                  </footer>
            </div>

<script>
    const storedEmail = localStorage.getItem('email');
    if (storedEmail) {
        window.location.href = "/";
}

    document.querySelectorAll('.login_input').forEach(input => {
        input.addEventListener('blur', function() {
            if (this.value.trim() !== "") {
                this.classList.add('used');
            } else {
                this.classList.remove('used');
            }
        });
    });

    </script>
{% endblock %}