{%extends 'base.html'%}
{%block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div>
                    <h2 class="main_color fs-1 fw-bolder">Contact Us</h2>
                </div>
                <div>
                    <p class="fs-5 text_color fw-bold"> Get in touch and let us know how we can help</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

                <dotlottie-player class="w-100" src="https://lottie.host/fe2fbab6-0b4b-4fca-8158-32deaf7e3c89/t7afocGSqn.json" background="transparent" speed="1" loop autoplay></dotlottie-player>            </div>
            <div class="col-md-6">
                 <div>

                 </div>
            </div>
    </div>

{%endblock%}